body {
    font-family: sans-serif;
    line-height: 1.3;  
    padding:20% 0;
width:100%;
    text-align: center;
    color: white;
    height: 100vh;
    display: inline-block;
    margin:0 auto;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
    
    font-size: 40px;
    
}

h2 {
    
    font-size: 25px;
   
}
